# Настройки Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_BOT_TOKEN=
WEBSITE_URL=https://savos-club-two.vercel.app
WEBHOOK_URL=https://your-domain.com/webhook

# Настройки JWT
JWT_SECRET=your_super_secret_jwt_key_here

# Настройки сервера
PORT=3000
NODE_ENV=development

# Настройки базы данных
DB_PATH=./database/club.db

# Настройки загрузки файлов
UPLOAD_PATH=./public/uploads
MAX_FILE_SIZE=5242880
